[submodule "third-party/ckb-c-stdlib"]
	path = third-party/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
# [submodule "third-party/secp256k1"]
# 	path = third-party/secp256k1
# 	url = https://github.com/nervosnetwork/secp256k1
# 	branch = master
[submodule "third-party/sparse-merkle-tree"]
	path = third-party/sparse-merkle-tree
	url = https://github.com/nervosnetwork/sparse-merkle-tree.git
	branch = master
# [submodule "third-party/mbedtls"]
# 	path = third-party/mbedtls
# 	url = https://github.com/nervosnetwork/mbedtls.git
# [submodule "third-party/ckb-c-stdlib-20210413"]
# 	path = third-party/ckb-c-stdlib-20210413
# 	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
# [submodule "third-party/secp256k1-20210801"]
# 	path = third-party/secp256k1-20210801
# 	url = https://github.com/nervosnetwork/secp256k1.git
# 	branch = schnorr
